.app{
	top:30%;
	padding-top: 70px;
}
.titulo{
	font-weight: bold;
	color:white;
	font-size: 12px;
	text-align: center;
}


.icone{
	display: block;
	margin: 0 auto;
	width: 64px;
}


.area span{
	color:black;
	font-size: 12px;
	text-align: center;	
}


.wrapper a{
	text-decoration: none;	
}

.wrapper{
	background: white;
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 7px;
}